<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://getbootstrap.com/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <title>
            Shopping Dresses
        </title>
    </head>
    <body>
               <%- include('aheader.ejs') %>
              <div class="container-fluid mt-5 mb-5">
                  <h1 class="text-center"><b>Products</b></h1>
                  <div class="mt-3 mb-3">
                      <div class="row">
                          <div class="col-md-8">
                              <div class="card" style="width: 150%;">
                                  <div class="card-header"><b>Product List</b></div>
                                  <div class="card-body">
                                      <div class="row">
                                          <% products.forEach(product => { %>
                                          <div class="col-md-4 mb-5 text-center">
                                              <img src="/images/<%= product.img %>" class="img-thumbnail mb-3" style="width:200px" style="height:200px" />
                                              <h4><b><%= product.name %></b></h4>
                                              <h3 class="text-danger"><%= product.price %></h3>
                                          </div>
                                          <% }) %>
                                      </div>
                                  </div>
                              </div>
                          </div>
              
 </body>
</html>